@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    font-family: "Kanit", serif;
   background-color: #ffffff;
 
}
a.active{
   border-bottom: 4px solid lawngreen;
   padding-bottom: 5px;
   border-radius: 10px;
   color: white;
}

input:placeholder-shown,textarea{
   border-radius: 10px;
}